<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="cadastro_box">
        <h2> Stellare kitchens </h2>
        <form>
             <h3>Cadastre-se para começar!</h3>
    <input type="email" placeholder="E-mail"><br>

            <input type="password" placeholder="Senha"><br>
            <input type="password" placeholder="Confirme a Senha"><br>
           <div class="lembrar-container">
    <input type="checkbox" id="remember">
    <label for="remember">Lembrar senha</label>
</div>
            <input type="submit" value="Cadastrar">

         </form>
         <a href="index.html">Já tem uma conta? Faça login</a>
</div>
</body>
</html>